@import-normalize ;
@import 'helper';
* { margin: 0; padding: 0; box-sizing: border-box;}
*::before {box-sizing: border-box}
*::after {box-sizing: border-box}
ul, ol {list-style: none;}
a { text-decoration: none;color: inherit}
body {
	font-family: $font-hei;
	font-size: 16px;
	background: #f5f5f5;
	line-height: 1.2;
}
:focus {
	outline: none;
}
buttonï¼Œinput {
	font: inherit;
}
.clearfix::after {
	content: '';
	display: block;
	clear: both;
}
svg {
	width: 24px;
	height: 24px;
}